body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

#button {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e88565;
  display: flex;
  justify-content: center;
  align-items:center;
}

#top {
  position: fixed;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
}

#bottom {
  position: fixed;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #181a27;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#sound {
  width: 80%;
  height: 80%;
  margin: auto;
}

#back {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  position: absolute;
  right:    50px;
  bottom:   50px;
}

#back:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}
