body {
  background-color: #000000;
}

h1 {
  font-style: italic;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  text-align: center;
  color: #00FF66;
}

view {
  position: absolute;
}

video#camera-stream {
  background-color: black;
  position: absolute;
  left: 25%;
}

canvas#hidden-canvas {
  display: none;
}

canvas#output-canvas {
  background-color: black;
  position: absolute;
  right: 25%;
}

#back {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  position: absolute;
  right:    50px;
  bottom:   50px;
}

#back:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}
